<div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
    <div *ngFor="let client of clients" class="card mb-3" id="{{ client.Id }}">
        <div class="card-header bg-dark text-white">
            {{ client.Name }}
        </div>
        <div class="card-body bg-light">
            <div class="container-fluid">
                <div class="row">
                    <div *ngFor="let account of client.Accounts" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <app-account [account]="account"
                                     [currentUser]="currentUser"
                                     [clientId]="client.Id"
                                     (onUseAccountEmitter)="onUseAccount($event)"
                                     (onReleaseAccountEmitter)="onReleaseAccount($event)"
                                     (onDeleteAccountEmitter)="onDeleteAccount($event)"></app-account>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="card mb-2 card-style">
                            <div class="card-body">
                                <button (click)="openManageAccountDialog(client.Id)" type="button" class="btn btn-dark btn-sm"><i class="material-icons">add</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h4 *ngIf="!loaded">Loading users...</h4>
